.container {
  background-color: #282c34;
  color: white;
}

header {
  padding: 1rem;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

section {
  margin: 0 auto;
  width: 60%;
}

.refresh-button {
  text-align: right;
}
